@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

body{
  margin: 0;
  padding: 20px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #212529;
  font-family: 'Akshar', sans-serif;
}

header{
    height: 100px;
    background: rgba(32, 29, 29, 0.7);
    width: 100%;
    z-index: 10;
  }
.logo{
  padding: 15px;
}
  .nav_bar{
    font-size: 20px;
    float: right;
    list-style: none;
    color: #fff;
    padding: 10px;
  }

  .nav_bar li{
    display: inline-block;
  }
  .nav_bar a{
    padding: 15px;
    color: #fff;
  }

.text{
  color: #fff;
  padding: 50px;
}

.songs{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 20px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.item{
  height: 180px;
  box-shadow: 164px 7px 110px -34px rgba(0, 0, 0, 0.43);
  text-align: center;
  cursor:pointer;
  transition: 0.2s ease;
  border: 0.5px solid grey;
  background-color: #161a1d;
}

.item:hover{
  transform: scale(1.04);
}

.item h4{
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  font-family: sans-serif;
}
.item p{
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  font-family: sans-serif;
}
input{
  font-size: 20px;
  border-radius: 20px;
}
